body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(../images/wallpaper.jpg);
  background-size:cover;
}

#title {
  color: rgb(150,48,32);
  text-shadow: -1px 0 tan, 0 1px tan, 1px 0 tan, 0 -1px tan;
  text-align: center;
  background-color: black;
  width:100%;
  height: 50px;
  padding-top: 20px;
  margin: 0px;
}

/* CHARACTER DIV */

#character-div {
  padding-top: 100px;
  display: inline-block;
}

#character-div h2 {
  color: rgb(150,48,32);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#CharacterForm label {
  color: white;
}

#CharacterForm label:nth-child(1) {
  padding-right: 27px;
}

#CharacterForm label:nth-child(4) {
  padding-right: 35px;
}

#CharacterForm label:nth-child(7) {
  padding-right: 30px;
}

#CharacterForm label:nth-child(10) {
  padding-right: 32px
}

#CharacterForm label:nth-child(13) {
  padding-right: 5px;
}

#CharacterForm input {
  width: 150px;
}

#newCharacter {
  display: inline;
  margin-top: 10px;
  margin-left: 5px;
}

#displayCharacters {
  display: inline;
  margin-top: 10px;
  margin-left: 5px;
}

/* MONSTER DIV */

#monster-div {
  padding-top: 100px;
  display: inline-block;
  float: right;
}

#monster-div h2 {
  color: rgb(150,48,32);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#MonsterForm label {
  color: white;
}

#MonsterForm label:nth-child(1) {
  padding-right: 27px;
}

#MonsterForm label:nth-child(4) {
  padding-right: 35px;
}

#MonsterForm label:nth-child(7) {
  padding-right: 30px;
}

#MonsterForm label:nth-child(10) {
  padding-right: 32px
}

#MonsterForm label:nth-child(13) {
  padding-right: 5px;
}

#MonsterForm input {
  width: 150px;
}

#newMonster {
  display: inline;
  margin-top: 10px;
  margin-left: 15px;
}

#displayMonsters {
  display: inline;
  margin-top: 10px;
  margin-left: 5px;
}

/*FIGHT DIV*/

#fight-div {
  text-align: center;
  margin-top: 150px;
}

/* OTHER */

a {
  color: #00B7FF;
}
